@import "../../../styles/master";
div {
  .button--add-highlight {
    background-color: $main-color;
    color: #fff;
    font-weight: 500;
    height: 25%;
    border: none;
  }

  .dish--info-container {
    width: 75%;
    .dish--ingredients {
      font-size: 0.75rem;
      // color: #f9f9ed;
    }
  }
}
